<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ChatBot</title>
    <link rel="stylesheet" href="/static/style.css">
    <script src="/static/script.js" defer></script>
</head>
<body>
    <header class="header">
        <h1>Welcome to Our ChatBot</h1>
    </header>
    <div class="chat-body">
        
        <div class="chat-title">
            <h3>Chatbot</h3>
        </div>
        <div id="chat-content" class="chat-content"></div>
        <form id="text-form" class="text-form">
            <input type="text" id="message-input" placeholder="Query..." required>
            <button type="submit">Send</button>
        </form>
   
    </div>
    <footer class="footer">
        <p>© 2024 Document chatbot. All rights reserved.</p>
    </footer>
</body>
</html>
